input[type=text] {
    width: 100%;
    height: 45px;
    padding: 12px 10px;
    margin: 10px 0 20px 0;
    display: block;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=texterea] {
    width: 100%;
    height: 110px;
    padding: 15px 0 100px 10px;
    margin: 15px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.label {
    color: #1c1f21;
    font-size: 14px;
    font-weight: bold;
}


.fa {
    margin-right: 10px;
}

input[type=submit] {
    width: 120px;
    background-color: #880a0c;
    color: #fff;
    padding: 14px 20px;
    margin: 7px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
}

input[type=submit]:hover {
    opacity: 0.8;
}